flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ad3a10e7b3086d22",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dc3a1e0667ab0c1e",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "84ade89226c9ed92",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "257348e796a4bc43",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.51",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "677c98630cb31061",
        "type": "MySQLdatabase",
        "name": "",
        "host": "192.168.1.51",
        "port": "6033",
        "db": "tSeriesDB",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "67cbdeddb28be9b7",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 250,
        "y": 240,
        "wires": [
            [
                "f6be028207c7fa2f",
                "91d534f2ef6c41e1"
            ]
        ]
    },
    {
        "id": "f6be028207c7fa2f",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 240,
        "wires": []
    },
    {
        "id": "91d534f2ef6c41e1",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "timestamp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "257348e796a4bc43",
        "x": 510,
        "y": 340,
        "wires": []
    },
    {
        "id": "69d9fbb92f37762b",
        "type": "http in",
        "z": "ad3a10e7b3086d22",
        "name": "",
        "url": "/pub/:topic/:payload",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "063c2b14762a312a"
            ]
        ]
    },
    {
        "id": "063c2b14762a312a",
        "type": "function",
        "z": "ad3a10e7b3086d22",
        "name": "create message",
        "func": "msg.topic = msg.req.params.topic;\nmsg.payload = msg.req.params.payload;\nmsg.qos = 2;\nmsg.retain = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 260,
        "wires": [
            [
                "71ef6f7be66e46fb",
                "72ad46d9c8e2ab24"
            ]
        ]
    },
    {
        "id": "71ef6f7be66e46fb",
        "type": "function",
        "z": "ad3a10e7b3086d22",
        "name": "create message",
        "func": "msg.payload = {\n    success: true,\n    message: \"published \" +\n        msg.req.params.topic +\n        \"/\" +\n        msg.req.params.payload\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 260,
        "wires": [
            [
                "363559ea083e8da0"
            ]
        ]
    },
    {
        "id": "363559ea083e8da0",
        "type": "http response",
        "z": "ad3a10e7b3086d22",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 260,
        "wires": []
    },
    {
        "id": "72ad46d9c8e2ab24",
        "type": "mqtt out",
        "z": "ad3a10e7b3086d22",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "257348e796a4bc43",
        "x": 510,
        "y": 200,
        "wires": []
    },
    {
        "id": "3ebb988861131f62",
        "type": "mqtt in",
        "z": "dc3a1e0667ab0c1e",
        "name": "listen everything",
        "topic": "#",
        "qos": "2",
        "datatype": "auto",
        "broker": "257348e796a4bc43",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 280,
        "wires": [
            [
                "efbfbccee15a0a9b"
            ]
        ]
    },
    {
        "id": "e565641f9c30fd1e",
        "type": "debug",
        "z": "dc3a1e0667ab0c1e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 280,
        "wires": []
    },
    {
        "id": "efbfbccee15a0a9b",
        "type": "function",
        "z": "dc3a1e0667ab0c1e",
        "name": "create query",
        "func": "// Create query\n// get microtime\nvar timestamp = new Date().getTime()/1000;\n// pad it with trailing zeroes\ntimestamp = timestamp.toString() + \"000\";\n// trim to exact length 10 + 1 + 3\ntimestamp = timestamp.substring(0, 14);\nvar strQuery = \"INSERT INTO thingData (topic, payload, timestamp, deleted) VALUES ('\" + escape(msg. topic) + \"','\" + escape(msg.payload) + \"','\" + timestamp + \"', 0);\"; \nmsg.topic = strQuery;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 280,
        "wires": [
            [
                "c2ef3fc732fb7f88"
            ]
        ]
    },
    {
        "id": "c2ef3fc732fb7f88",
        "type": "mysql",
        "z": "dc3a1e0667ab0c1e",
        "mydb": "677c98630cb31061",
        "name": "",
        "x": 560,
        "y": 280,
        "wires": [
            [
                "e565641f9c30fd1e"
            ]
        ]
    },
    {
        "id": "63d8416be74abd63",
        "type": "http in",
        "z": "84ade89226c9ed92",
        "name": "",
        "url": "/get/:topic",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "98595ba380caac53"
            ]
        ]
    },
    {
        "id": "5d3c775bf8ae05d4",
        "type": "http in",
        "z": "84ade89226c9ed92",
        "name": "",
        "url": "/get/:topic/last/:count",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "98595ba380caac53"
            ]
        ]
    },
    {
        "id": "98595ba380caac53",
        "type": "function",
        "z": "84ade89226c9ed92",
        "name": "create query",
        "func": "// Create query\n// if required record count is not specified\n// set default to 1\nif(!msg.req.params.count)\nmsg.req.params.count = 1;\n// build the sql query\nmsg.topic = \"SELECT id,topic,payload,timestamp \" + \"FROM thingData \" + \"WHERE topic='\" + escape(msg.req.params.topic) + \"' \" + \"AND deleted=0 \" + \"ORDER BY id DESC \" + \"LIMIT \" + msg.req.params.count + \";\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 300,
        "wires": [
            [
                "7967a09063fc2d1c"
            ]
        ]
    },
    {
        "id": "7967a09063fc2d1c",
        "type": "mysql",
        "z": "84ade89226c9ed92",
        "mydb": "677c98630cb31061",
        "name": "",
        "x": 500,
        "y": 300,
        "wires": [
            [
                "d989b4123301caec"
            ]
        ]
    },
    {
        "id": "d989b4123301caec",
        "type": "function",
        "z": "84ade89226c9ed92",
        "name": "prepare response",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 300,
        "wires": [
            [
                "3deb7d994370462d"
            ]
        ]
    },
    {
        "id": "3deb7d994370462d",
        "type": "http response",
        "z": "84ade89226c9ed92",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 870,
        "y": 300,
        "wires": []
    }
]